html{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
}

body{
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.app-container {
    height: 100%;
    width: 100%;
}

.text-underline{
    border-bottom: 1px solid #ebebeb;
    width: fit-content;
}

.ReactCollapse--collapse {
    max-width: 800px;
    transition: .3s;

    &[aria-hidden=true]{
        filter: opacity(0%)
    }
    &[aria-hidden=false]{
        filter: opacity(100%)
    }
}

.color-primary{
    color: #eb6b34;
}

.custom-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    box-shadow: 0 0 6px 5px #ebebeb;
    .arrows-container{
        width: 445px;
        i {
            font-size: 32px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    
}

.clickable {
    transition: ease-in 0.1s;
    &:hover{
        filter: opacity(60%);
        cursor: pointer;
    }
}

.spinner-border {
    margin-top: 100px;
    width: 2rem;
    height: 2rem;
    border: 0.12em solid #eb6b34;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}

@media (max-width: 600px){
    .custom-navbar{
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #eb6b34;
    border-radius: 100px;
}