.slick-slide{
    // padding: 15px 0 15px 15px;
    padding: 15px;
    padding-bottom: 100px;
    overflow-y: scroll;
    height: 94vh !important;
    
    &__content{
        max-width: 420px;
        margin: 0 auto;

        &--title{
            font-weight: bold;
            font-size: 25px;
        }
        &--body{
            padding-top: 10px;
            padding-bottom: 20px;
        }
        &--comments{
            .show-more-comments{
                font-size: 14px;
            }
        }
        &--comment{
            font-size: 14px;
        }
    }
}

@media (max-width: 600px){
    .slick-slide{
        height: 100vh !important;
        &__content{
            max-width: unset;
        }
    }
}